@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ourlads View</h1>
    <p>Simple depth chart view. To make changes, click <a href="#">here</a>.</p>
</div>

<!--This is a simple table to view the depth chart-->
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Pos</th>
                <th>#</th>
                <th>Player 1</th>
                <th>#</th>
                <th>Player 2</th>
                <th>#</th>
                <th>Player 3</th>
                <th>#</th>
                <th>Player 4</th>
                <th>#</th>
                <th>Player 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="11">Offense</td>
            </tr>
            <tr>
                <td>QB</td>
                <td>1</td>
                <td>QB1</td>
                <td>2</td>
                <td>QB2</td>
            </tr>
            <tr>
                <td colspan="11">Defense</td>
            </tr>
            <tr>
                <td colspan="11">Special Teams</td>
            </tr>
        </tbody>
    </table>
</div>
